@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

input {
  outline: 0;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.row {
  margin: 0;
}
.row > * {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #241746;
  --color-main: #FEC260;
}

h2 {
  font-size: 1.8rem;
}

body {
  font-family: "Hahmlet", serif;
  background: -webkit-linear-gradient(top, rgb(3, 1, 10) 30%, rgb(25, 19, 39) 70%, rgb(36, 23, 70));
  overflow: hidden;
  color: var(--color-main);
  width: 100%;
  height: 100%;
}

.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
#aboutMe #mouse {
  opacity: 0.8;
  position: absolute;
  border: 3px solid white;
  left: calc(50% - 25px);
  bottom: 5rem;
  width: 50px;
  height: 80px;
  border-radius: 25px;
  animation: rollMouse 0.8s linear alternate infinite;
  z-index: -1;
}
#aboutMe #mouse::before {
  content: "Scroll";
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
  color: white;
}
#aboutMe #mouse #wheel {
  position: absolute;
  left: calc(50% - 5px);
  bottom: 8px;
  width: 10px;
  height: 20px;
  background: white;
  border-radius: 5px;
  animation: rollWheel 0.8s ease-in alternate infinite;
}
@keyframes rollMouse {
  from {
    bottom: 5rem;
  }
  to {
    bottom: 5.5rem;
  }
}
@keyframes rollWheel {
  from {
    bottom: 8px;
  }
  to {
    bottom: 16px;
  }
}
#aboutMe .top {
  align-items: flex-end;
}
#aboutMe .top .profileWrap {
  position: relative;
  height: 250px;
}
#aboutMe .top .profileWrap .profileBg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, rgba(255, 47, 47, 0.6) 0%, rgba(159, 199, 255, 0.5) 100%);
  border-radius: 50%;
  margin-top: -1rem;
}
#aboutMe .top .profileWrap .profileBg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/planetbg.png) no-repeat center/100%;
  opacity: 0.3;
  transform: rotate(25deg);
}
#aboutMe .top .profileWrap .profileImage {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  background: url(../assets/myphoto.png) no-repeat center bottom -5px/105%;
  border-radius: 50%;
  border: 2px solid rgba(255, 47, 47, 0.4);
}
#aboutMe .top .profileWrap h2 {
  position: absolute;
  top: 0.5rem;
  left: 60%;
  background-color: var(--color-main);
  color: var(--color-bg);
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  width: 400px;
}
#aboutMe .top .contents .info {
  display: flex;
}
#aboutMe .top .contents .info .profile h3 {
  padding-bottom: 0.5rem;
}
#aboutMe .top .contents .info .profile .row .col-8 {
  color: rgba(255, 255, 255, 0.9);
}
#aboutMe .top .contents .info .education {
  word-break: keep-all;
}
#aboutMe .top .contents .info .education h3 {
  padding-bottom: 0.5rem;
}
#aboutMe .top .contents .info .education .row .col-9 {
  color: rgba(255, 255, 255, 0.9);
}
#aboutMe .top .contents .texts {
  margin-top: 3rem;
  line-height: 1;
  color: white;
  font-size: 1.5rem;
}
#aboutMe .top .contents .texts span {
  color: var(--color-main);
  font-size: 1.8em;
}
#aboutMe .bottom {
  align-items: flex-end;
}
#aboutMe .bottom #skillBarPlace .row {
  align-items: center;
}
#aboutMe .bottom #skillBarPlace .row .skillBar {
  margin: 0.5rem 0;
  background-color: white;
  height: 1rem;
  position: relative;
}
#aboutMe .bottom #skillBarPlace .row .skillBar span {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
}
#aboutMe .bottom #skillBarPlace .row .skillBar span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  animation: setSkills 2s ease-in-out both;
}
#aboutMe .bottom #skillBarPlace .row .skillPercent {
  text-align: center;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(0) .skillBar span::before {
  animation-delay: 0.8s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(1) .skillBar span::before {
  animation-delay: 0.2s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(2) .skillBar span::before {
  animation-delay: 0.7s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(3) .skillBar span::before {
  animation-delay: 0.4s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(4) .skillBar span::before {
  animation-delay: 1.2s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(5) .skillBar span::before {
  animation-delay: 0s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(6) .skillBar span::before {
  animation-delay: 1s;
}
#aboutMe .bottom #skillBarPlace .row:nth-of-type(7) .skillBar span::before {
  animation-delay: 0.6s;
}
@keyframes setSkills {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#aboutMe .bottom .skillIndexWrap {
  position: relative;
  height: 300px;
}
#aboutMe .bottom .skillIndexWrap .skillBg {
  position: absolute;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background: linear-gradient(45deg, rgba(224, 47, 255, 0.3) 0%, rgba(159, 207, 255, 0.5) 100%);
  border-radius: 50%;
  margin-top: -1rem;
}
#aboutMe .bottom .skillIndexWrap .skillBg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/venus.png) no-repeat center/100%;
  opacity: 0.3;
  transform: rotate(167deg);
}
#aboutMe .bottom .skillIndexWrap .skillBg::after {
  content: "";
  position: absolute;
  right: -40%;
  bottom: -20%;
  width: 80%;
  height: 80%;
  background: url(../../assets/우주인.png) no-repeat center/100%;
  opacity: 1;
  transform: rotate(0deg);
}
#aboutMe .bottom .skillIndexWrap h2 {
  position: absolute;
  top: 1rem;
  right: 50%;
  text-align: end;
  background-color: var(--color-main);
  color: var(--color-bg);
  line-height: 1.2;
  font-size: 1.5rem;
  padding-right: 1rem;
  width: 300px;
}

#project {
  padding: 0 5rem;
}
#project #projectHeader {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 3rem 0 3rem;
  background: rgba(3, 1, 10, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1;
}
#project #projectHeader .backBar {
  position: absolute;
  left: 250px;
  width: calc(100% - 500px);
  border-top: 2px solid var(--color-main);
}
#project #projectHeader h2 {
  width: 200px;
  text-align: center;
  position: absolute;
  left: 0;
}
#project #projectHeader .spaceSheep {
  position: absolute;
  right: 0;
  width: 200px;
  height: 200px;
  font-size: 0;
  background: url(../assets/우주선.png) no-repeat center/60%;
  transform: rotate(-135deg);
}
#project #projectHeader nav {
  width: 100%;
  flex: 1;
}
#project #projectHeader nav ul {
  display: flex;
  width: calc(100% - 500px);
  margin: 0 auto;
  justify-content: space-around;
}
#project #projectHeader nav ul li {
  position: relative;
  cursor: pointer;
}
#project #projectHeader nav ul li .planetIcon {
  box-sizing: content-box;
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  background: linear-gradient(45deg, rgb(255, 47, 47) 0%, rgb(159, 199, 255) 100%);
  border-radius: 50%;
  position: relative;
}
#project #projectHeader nav ul li .planetIcon::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/ling.png) no-repeat center/contain;
  transform: scale(1.4);
}
#project #projectHeader nav ul li .planetIcon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/venus.png) no-repeat center/contain;
  opacity: 0.5;
}
#project #projectHeader p {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
}
#project hr {
  opacity: 1;
  margin: 0.5rem 0;
}
#project #projectContainer #project01,
#project #projectContainer #project02,
#project #projectContainer #project03,
#project #projectContainer #project04,
#project #projectContainer #project05 {
  box-sizing: border-box;
  padding: 3rem 0 12rem;
  height: 100vh;
}
#project #projectContainer #project01 .imgWrap,
#project #projectContainer #project02 .imgWrap,
#project #projectContainer #project03 .imgWrap,
#project #projectContainer #project04 .imgWrap,
#project #projectContainer #project05 .imgWrap {
  padding: 3rem 2rem 2rem 0;
  position: relative;
}
#project #projectContainer #project01 .imgWrap .links,
#project #projectContainer #project02 .imgWrap .links,
#project #projectContainer #project03 .imgWrap .links,
#project #projectContainer #project04 .imgWrap .links,
#project #projectContainer #project05 .imgWrap .links {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 2rem);
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
}
#project #projectContainer #project01 .imgWrap .links a,
#project #projectContainer #project02 .imgWrap .links a,
#project #projectContainer #project03 .imgWrap .links a,
#project #projectContainer #project04 .imgWrap .links a,
#project #projectContainer #project05 .imgWrap .links a {
  display: inline-block;
  line-height: 3rem;
  padding: 0 1rem;
  color: white;
}
#project #projectContainer #project01 .imgWrap .links a:hover,
#project #projectContainer #project02 .imgWrap .links a:hover,
#project #projectContainer #project03 .imgWrap .links a:hover,
#project #projectContainer #project04 .imgWrap .links a:hover,
#project #projectContainer #project05 .imgWrap .links a:hover {
  color: var(--color-main);
}
#project #projectContainer #project01 .imgWrap .preview,
#project #projectContainer #project02 .imgWrap .preview,
#project #projectContainer #project03 .imgWrap .preview,
#project #projectContainer #project04 .imgWrap .preview,
#project #projectContainer #project05 .imgWrap .preview {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#cloneCoding {
  height: 100vh;
  padding-left: 1rem;
}
#cloneCoding .top {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
#cloneCoding .top span {
  display: block;
  background: url(../../assets/행성.png) no-repeat center/contain;
  width: 20vh;
  height: 20vh;
  font-size: 0;
  margin-left: 0.5rem;
}
#cloneCoding .top h2 {
  text-align: end;
}
#cloneCoding #cloneCardPlace {
  display: flex;
  column-gap: 2rem;
  overflow-x: auto;
  margin-top: 10vh;
  margin-left: 4rem;
  padding-bottom: 1rem;
  scrollbar-color: rgba(254, 194, 96, 0.8) rgba(255, 255, 255, 0.3);
  scrollbar-width: thin;
}
#cloneCoding #cloneCardPlace::-webkit-scrollbar {
  height: 5px;
}
#cloneCoding #cloneCardPlace::-webkit-scrollbar-thumb {
  background-color: rgba(254, 194, 96, 0.8);
  border-radius: 5px;
}
#cloneCoding #cloneCardPlace::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
#cloneCoding #cloneCardPlace .cloneCard {
  flex-shrink: 0;
  width: 350px;
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid var(--color-main);
  background-color: var(--color-main);
}
#cloneCoding #cloneCardPlace .cloneCard .imgPlace {
  width: 100%;
  height: 30vh;
}
#cloneCoding #cloneCardPlace .cloneCard .imgPlace img {
  width: 100%;
}
#cloneCoding #cloneCardPlace .cloneCard .contentsWrap {
  position: relative;
  padding: 1rem;
  background-color: var(--color-main);
  color: var(--color-bg);
}
#cloneCoding #cloneCardPlace .cloneCard .contentsWrap h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
#cloneCoding #cloneCardPlace .cloneCard .contentsWrap .row > * {
  line-height: 1;
  font-size: 0.9rem;
}
#cloneCoding #cloneCardPlace .cloneCard .contentsWrap .btnWrap {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#cloneCoding #cloneCardPlace .cloneCard .contentsWrap a {
  width: 40%;
  border: 0;
  background-color: var(--color-bg);
  color: var(--color-main);
  border-radius: 0.5rem;
  line-height: 1;
  padding: 0.5rem 0;
  text-align: center;
}

#contactMe {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
#contactMe h2 {
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 3rem;
}
#contactMe .stars {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(../../assets/별자리.png) no-repeat center/contain;
  left: 3rem;
  bottom: 3rem;
}
#contactMe .man {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(../../assets/떠다니는우주인.png) no-repeat center/contain;
  right: 5rem;
  top: 5rem;
}
#contactMe .contents {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
  word-break: keep-all;
}
#contactMe .contents .row {
  width: 100%;
  align-items: flex-end;
  line-height: 1.5;
  padding-left: 5rem;
}
#contactMe .contents .row span {
  font-size: 1.8em;
  line-height: 1;
  color: var(--color-main);
}
#contactMe .contents .row a {
  color: var(--color-main);
}
#contactMe .contents .row a:hover {
  color: white;
}
#contactMe p {
  font-size: 0.9rem;
  align-self: flex-end;
  opacity: 0.7;
}
#contactMe p button {
  background-color: transparent;
  border: 0;
  line-height: 1;
  font-size: 0.8rem;
  color: var(--color-main);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-main);
  margin-left: 0.5rem;
}
#contactMe #sourceCard {
  background-color: white;
  position: absolute;
  width: 300px;
  right: -400px;
  bottom: 7rem;
  padding: 1.5rem;
  color: var(--color-bg);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
#contactMe #sourceCard.open {
  right: 1rem;
}
#contactMe #sourceCard a {
  color: var(--color-bg);
  opacity: 0.8;
}
#contactMe #sourceCard a:hover {
  opacity: 1;
}
#contactMe #sourceCard button {
  position: absolute;
  line-height: 1;
  background-color: transparent;
  border: 0;
  right: 0;
  top: -1.5rem;
  color: var(--color-main);
}

#moonMenu {
  position: fixed;
  width: 10vw;
  height: 10vw;
  top: calc(50% - 5vw);
  left: -8vw;
  border-radius: 50%;
  background-color: var(--color-main);
  transition: all 0.3s;
  font-size: 0;
  z-index: 3;
}
#moonMenu::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-main);
  border-radius: 50%;
  transition: all 0.3s;
  transform-origin: center;
  transform: scale(0);
}
#moonMenu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/moon.png) no-repeat center/102%;
  opacity: 0.5;
  overflow: hidden;
}
#moonMenu:hover, #moonMenu.openMenu {
  left: -5vw;
}
#moonMenu:hover::before, #moonMenu.openMenu::before {
  transform: scale(1.5);
}

#openMenu {
  position: fixed;
  left: -100vw;
  top: 0;
  z-index: 2;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
#openMenu.openMenu {
  transform: translateX(100vw);
}
#openMenu .skybg {
  position: absolute;
  background: -webkit-linear-gradient(top, rgb(3, 1, 10) 30%, rgb(25, 19, 39) 70%, rgb(36, 23, 70));
  width: 100%;
  height: 100%;
}
#openMenu button {
  width: 20vw;
  background-color: transparent;
  position: absolute;
  border: 0;
}
#openMenu button img {
  width: 100%;
}
#openMenu button:nth-of-type(1) {
  left: 25vw;
  top: 5rem;
}
#openMenu button:nth-of-type(2) {
  right: 3vw;
  top: 13vh;
}
#openMenu button:nth-of-type(3) {
  left: 15vw;
  bottom: 10vh;
}
#openMenu button:nth-of-type(4) {
  right: 20vw;
  bottom: 6vh;
}

.skybg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.skybg .sky {
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveStar 1000s linear infinite;
}
.skybg .sky .star {
  fill: white;
  stroke: none;
  stroke-width: 0;
}

@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.home {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 0 2rem;
}

/*# sourceMappingURL=main.css.map */
