#aboutMe{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  #mouse{
    opacity: 0.8;
    position: absolute;
    border: 3px solid white;
    left: calc(50% - 25px);
    bottom: 5rem;
    width: 50px;
    height: 80px;
    border-radius: 25px;
    animation: rollMouse 0.8s linear alternate infinite;
    z-index: -1;
    &::before{
      content:"Scroll";
      position: absolute;
      left: 50%;
      bottom: -2rem;
      transform: translateX(-50%);
      color: white;
    }
    #wheel{
      position: absolute;
      left: calc(50% - 5px);
      bottom: 8px;
      width: 10px;
      height: 20px;
      background: white;
      border-radius: 5px;
      animation: rollWheel 0.8s ease-in alternate infinite;
    }
    @keyframes rollMouse {
      from{
        bottom: 5rem;
      }
      to{
        bottom: 5.5rem;
      }
    }
    @keyframes rollWheel {
      from{
        bottom: 8px;
      }
      to{
        bottom: 16px;
      }
    }
  }
  .top{
    .profileWrap{
      position: relative;
      height: 35vh;
      .profileBg{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 35vh;
        height: 35vh;
        background: linear-gradient(45deg, rgba(255, 47, 47, 0.6) 0%, rgba(159, 199, 255, 0.5) 100%);
        border-radius: 50%;
        margin-top: -1rem;
        &::before{
          content: '';
          position: absolute;
          left:0;
          top:0;
          width: 100%;
          height: 100%;
          background: url(../assets/planetbg.png) no-repeat center / 100%;
          opacity: 0.3;
          transform: rotate(25deg);
        }
      }
      .profileImage{
        position: absolute;
        bottom: 0;
        left:calc(50% - 18vh);
        transform: translateX(-50%);
        width: 15vh;
        height: 15vh;
        background: url(../assets/myphoto.png) no-repeat center / 105%;
        border-radius: 50%;
        border: 2px solid rgba(255, 47, 47, 0.4);
      }
      h2{
        position: absolute;
        top:2vh;
        left: 60%;
        background-color: var(--color-main);
        color: var(--color-bg);
        line-height: 1.2;
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 1rem;
        width: 400px;
      }
    }
    .contents{
      padding-top: 10vh;
      .info{
        display: flex;
        .profile{
          h3{
            padding-bottom: 0.5rem;
          }
          .row{
            .col-4{}
            .col-8{
              color: rgba(255, 255, 255, 0.9);
            }
          }
        }
        .education{
          word-break: keep-all;
          h3{
            padding-bottom: 0.5rem;
          }
          .row{
            .col-3{}
            .col-9{
              color: rgba(255, 255, 255, 0.9);
            }
          }
        }
      }
      .texts{
        margin-top: 3rem;
        line-height: 1;
        color: white;
        font-size: 1.5rem;
        span{
          color: var(--color-main);
          font-size: 1.8em;
        }
      }
    }
  }
  .bottom{
    align-items: flex-end;
    #skillBarPlace{
      .row{
        align-items: center;
        .col-3{}
        .skillBar{
          margin: 0.5rem 0;
          background-color: white;
          height: 1rem;
          position: relative;
          span{
            position: absolute;
            height: 100%;
            left:0;
            top:0;
            display: block;
            &::before{
              content: "";
              position: absolute;
              left:0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: var(--color-main);
              animation: setSkills 2s ease-in-out both;
            }
          }
        }
        .skillPercent{
          text-align: center;
        }
        &:nth-of-type(0) .skillBar span::before{
          animation-delay: 0.8s;
        }
        &:nth-of-type(1) .skillBar span::before{
          animation-delay: 0.2s;
        }
        &:nth-of-type(2) .skillBar span::before{
          animation-delay: 0.7s;
        }
        &:nth-of-type(3) .skillBar span::before{
          animation-delay: 0.4s;
        }
        &:nth-of-type(4) .skillBar span::before{
          animation-delay: 1.2s;
        }
        &:nth-of-type(5) .skillBar span::before{
          animation-delay: 0s;
        }
        &:nth-of-type(6) .skillBar span::before{
          animation-delay: 1s;
        }
        &:nth-of-type(7) .skillBar span::before{
          animation-delay: 0.6s;
        }
        @keyframes setSkills {
          from {
            width:0;
          }
          to {
            width: 100%;
          }
        }
      }
    }
    .skillIndexWrap{
      position: relative;
      height: 30vh;
      .skillBg{
        position: absolute;
        top: 0;
        left: 55%;
        transform: translateX(-50%);
        width: 30vh;
        height: 30vh;
        background: linear-gradient(45deg, rgba(224, 47, 255, 0.3) 0%, rgba(159, 207, 255, 0.5) 100%);
        border-radius: 50%;
        margin-top: -1rem;
        &::before{
          content: '';
          position: absolute;
          left:0;
          top:0;
          width: 100%;
          height: 100%;
          background: url(../assets/venus.png) no-repeat center / 100%;
          opacity: 0.3;
          transform: rotate(167deg);
        }
        &::after{
          content: '';
          position: absolute;
          right:-40%;
          bottom:-20%;
          width: 80%;
          height: 80%;
          background: url(../assets/우주인.png) no-repeat center / 100%;
          opacity: 1;
          transform: rotate(0deg);
        }
      }
      h2{
        position: absolute;
        top:1rem;
        right: 50%;
        text-align: end;
        background-color: var(--color-main);
        color: var(--color-bg);
        line-height: 1.2;
        font-size: 1.5rem;
        padding-right: 1rem;
        width: 300px;
      }
    }
  }
}