#contactMe{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  h2{
    padding-top: 5rem;
    padding-left:5rem;
    font-size: 3rem;
  }
  .stars{
    position: absolute;
    width: 150px;
    height: 150px;
    background: url(../assets/별자리.png) no-repeat center / contain;
    left: 3rem;
    bottom: 3rem;
  }
  .man{
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(../assets/떠다니는우주인.png) no-repeat center / contain;
    right: 5rem;
    top: 5rem;
  }
  .contents{
    position: absolute;
    left:50%;
    top: 45%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    word-break: keep-all;
    .row{
      width: 100%;
      align-items: flex-end;
      line-height: 1.5;
      padding-left: 5rem;
      span{
        font-size: 1.8em;
        line-height: 1;
        color: var(--color-main);
      }
      a{
        color: var(--color-main);
        &:hover{
          color: white;
        }
      }
    }
  }
  p{
    font-size: .9rem;
    align-self: flex-end;
    opacity: 0.7;
    button{
      background-color: transparent;
      border:0;
      line-height: 1;
      font-size: 0.8rem;
      color: var(--color-main);
      padding-bottom: 3px;
      border-bottom: 1px solid var(--color-main);
      margin-left: 0.5rem;

    }
  }
  #sourceCard{
    background-color: white;
    position: absolute;
    width: 300px;
    right: -400px;
    bottom: 7rem;
    padding: 1.5rem;
    color: var(--color-bg);
    border-radius: 0.5rem;
    transition: all 0.3s;
    &.open{
      right: 1rem;
    }
    a{
      color: var(--color-bg);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    button{
      position: absolute;
      line-height: 1;
      background-color: transparent;
      border: 0;
      right: 0;
      top: -1.5rem;
      color:var(--color-main)
    }
  }
}