.skybg{
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  .sky{
    width: 200vw;
    height: 200vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveStar 1000s linear infinite;
    .star {
      fill:white;
      stroke:none;
      stroke-width: 0;
    }
  }
}

@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}